.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

[data-amplify-authenticator] {
  /* --amplify-components-authenticator-modal-height: 1000px; */
}

[data-amplify-container] {
  --amplify-components-authenticator-router-background-color: #191a1a;
  --amplify-colors-background-primary: #191a1a;
  --amplify-components-authenticator-state-inactive-background-color: #191a1a;
  --amplify-components-authenticator-router-border-color: #191a1a;
  --amplify-components-heading-color: #bcbec2;
  --amplify-components-radiogroup-radio-label-color: #bcbec2;
}

@media (max-width: 500px) {

  [data-amplify-router] {
    height: 300px
  }

}
