.button-css {
    height: 20px;
        width: 120px;
    font-weight: 600;
    background-color: #45668f;
    color: #45668f;
    outline: none;
    border: none;
    cursor: pointer;
}
.button-css:hover {
    background-color: #058aff;
}

@media (max-width: 400px) {
    .button-css {
        height: 20px;
        width: 100px;
        font-size: 12px;
    }
}