.mapContainer {
    margin-top: 25px;
  }
  
  .mapDiv{
    width: 90vw;
    height: 90vh;
  }
  
  .mapZoomDisplay {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .updateButton {
    margin-top: 20px;
  }

  